pkgbase = secilc
	pkgdesc = SELinux Common Intermediate Language Compiler
	pkgver = 3.3rc2
	pkgrel = 1
	url = https://github.com/SELinuxProject/cil/wiki
	arch = i686
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = custom
	checkdepends = checkpolicy
	makedepends = xmlto
	makedepends = docbook-xml
	makedepends = docbook-xsl
	depends = libsepol>=3.1
	source = https://github.com/SELinuxProject/selinux/releases/download/3.3-rc2/secilc-3.3-rc2.tar.gz
	sha256sums = 9ec78871e8d20e20d0f894dee8fb5806ed60bcf3f8d0de309bd2ac722c52b09d

pkgname = secilc
