pkgbase = secilc
	pkgdesc = SELinux Common Intermediate Language Compiler
	pkgver = 3.2rc1
	pkgrel = 1
	url = https://github.com/SELinuxProject/cil/wiki
	arch = i686
	arch = x86_64
	groups = selinux
	license = custom
	checkdepends = checkpolicy
	makedepends = xmlto
	makedepends = docbook-xml
	makedepends = docbook-xsl
	depends = libsepol>=3.1
	source = https://github.com/SELinuxProject/selinux/releases/download/3.2-rc1/secilc-3.2-rc1.tar.gz
	sha256sums = 0c6587a18ea69ba8e1bd7b096dcf47b84822bdc92736341eed664e29394ddf1f

pkgname = secilc

