pkgbase = secilc
	pkgdesc = SELinux Common Intermediate Language Compiler
	pkgver = 2.8rc1
	pkgrel = 1
	url = https://github.com/SELinuxProject/cil/wiki
	arch = i686
	arch = x86_64
	groups = selinux
	license = custom
	makedepends = xmlto
	makedepends = docbook-xml
	makedepends = docbook-xsl
	depends = libsepol>=2.8rc1
	source = https://raw.githubusercontent.com/wiki/SELinuxProject/selinux/files/releases/20180419/secilc-2.8-rc1.tar.gz
	sha256sums = c801257e373a0c7dcc86b6774d56a8a5929f3ba76b9f2681b3af8dee77a470a9

pkgname = secilc

