*~
*.part

*/src
*/pkg
*x86_64.pkg.tar.xz
*x86_64.pkg.tar.xz.sig
*any.pkg.tar.xz
*any.pkg.tar.xz.sig
*.src.tar.gz

base-noselinux/
.pacman-db/

checkpolicy/checkpolicy-*.tar.gz
coreutils-selinux/coreutils-*.tar.xz*
cronie-selinux/cronie-*.tar.gz
dbus-selinux/dbus-*.tar.gz*
findutils-selinux/findutils-*.tar.gz*
iproute2-selinux/iproute2-*.tar.xz
libcgroup/libcgroup-*.tar.bz2
libselinux/libselinux-rhat.patch
libselinux/libselinux-*.tar.gz
libselinux/selinuxconlist.8
libselinux/selinuxdefcon.8
libsemanage/libsemanage-*.tar.gz
libsepol/libsepol-*.tar.gz
linux-selinux/config.last
linux-selinux/config.*.last
linux-selinux/linux-*.tar.xz
linux-selinux/linux-selinux.install.pkg
linux-selinux/patch-*.xz
logrotate-selinux/logrotate-*.tar.gz
openssh-selinux/openssh-*.tar.gz
openssh-selinux/openssh-*.tar.gz.asc
pam-selinux/Linux-PAM-*.tar.bz2
pam-selinux/pam_unix2-*.tar.bz2
policycoreutils/policycoreutils-*.tar.gz
psmisc-selinux/psmisc-*.tar.gz
sepolgen/sepolgen-*.tar.gz
setools/setools-*.tar.bz2
shadow-selinux/shadow-*.tar.xz*
sudo-selinux/sudo-*.tar.gz*
systemd-selinux/systemd-*.tar.xz
util-linux-selinux/util-linux-*.tar.xz
