*~
*.part

*/src
*/pkg
*x86_64.pkg.tar.xz
*x86_64.pkg.tar.xz.sig
*any.pkg.tar.xz
*any.pkg.tar.xz.sig
*.src.tar.gz

checkpolicy/checkpolicy-*.tar.gz
coreutils-selinux/coreutils-*.tar.xz*
cronie-selinux/cronie-*.tar.gz
findutils-selinux/findutils-*.tar.gz*
libcgroup/libcgroup-*.tar.bz2
libselinux/libselinux-*.tar.gz
libsemanage/libsemanage-*.tar.gz
libsepol/libsepol-*.tar.gz
linux-selinux/config.x86_64.last
linux-selinux/linux-*.tar.xz
linux-selinux/patch-*.xz
openssh-selinux/openssh-*.tar.gz
pam-selinux/Linux-PAM-*.tar.bz2
pam-selinux/pam_unix2-*.tar.bz2
policycoreutils/policycoreutils-*.tar.gz
psmisc-selinux/psmisc-*.tar.gz
sepolgen/sepolgen-*.tar.gz
setools/setools-*.tar.bz2
shadow-selinux/shadow-*.tar.bz2*
sudo-selinux/sudo-*.tar.gz*
systemd-selinux/systemd-*.tar.xz
util-linux-selinux/util-linux-*.24.tar.xz
