pkgbase = restorecond
	pkgdesc = SELinux restorecon daemon
	pkgver = 3.1rc2
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux/wiki
	arch = i686
	arch = x86_64
	groups = selinux
	license = GPL2
	makedepends = pkgconf
	depends = dbus-glib
	depends = libselinux>=2.7
	conflicts = policycoreutils<2.7
	source = https://github.com/SELinuxProject/selinux/releases/download/20200619/restorecond-3.1-rc2.tar.gz
	sha256sums = 3006219528a1357b0172af06f8b875c15d335dac12eda15b43d07a98b71c09be

pkgname = restorecond

