pkgbase = findutils-selinux
	pkgdesc = GNU utilities to locate files with SELinux support
	pkgver = 4.10.0
	pkgrel = 3
	url = https://www.gnu.org/software/findutils/
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = wget
	makedepends = python
	depends = glibc
	depends = libselinux
	provides = findutils=4.10.0-3
	provides = selinux-findutils=4.10.0-3
	conflicts = findutils
	conflicts = selinux-findutils
	source = git+https://git.savannah.gnu.org/git/findutils.git?signed#tag=v4.10.0
	source = git+https://git.savannah.gnu.org/git/gnulib.git
	validpgpkeys = A5189DB69C1164D33002936646502EF796917195
	b2sums = a6d99d922df4c6895d9956a6902518c5f911e6ad1fdcbfc99bb083ce0a725fa4e87bb83a1a2d16e6d900755da9e9094b20f56f971c8e6a6008572cd417fe3e95
	b2sums = SKIP

pkgname = findutils-selinux
