pkgbase = selinux-python
	pkgdesc = SELinux python tools and libraries
	pkgver = 3.2rc1
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux/wiki
	arch = i686
	arch = x86_64
	groups = selinux
	license = GPL2
	depends = python
	depends = python-audit
	depends = python-ipy
	depends = libsemanage>=3.1rc1
	depends = setools>=4.0.0
	provides = sepolgen=3.2rc1-1
	conflicts = sepolgen<2.7
	conflicts = policycoreutils<2.7
	source = https://github.com/SELinuxProject/selinux/releases/download/3.2-rc1/selinux-python-3.2-rc1.tar.gz
	sha256sums = 052516fe69be6429826afdd51664e8ede9c4fbe5714411f3f0f671be538c4149

pkgname = selinux-python

