pkgbase = selinux-dbus-config
	pkgdesc = DBus service which allows managing SELinux configuration
	pkgver = 2.9rc1
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux/wiki
	arch = any
	groups = selinux
	license = GPL2
	depends = python
	depends = selinux-python
	conflicts = policycoreutils<2.7
	source = https://github.com/SELinuxProject/selinux/releases/download/20190125/selinux-dbus-2.9-rc1.tar.gz
	sha256sums = 9107b3ce557390d37fd74d10bbcac895ee69cdc66c9db117f7a5f6dabbeb5a7d

pkgname = selinux-dbus-config

