pkgbase = mcstrans
	pkgdesc = SELinux MCS translation daemon
	pkgver = 3.1rc1
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux/wiki
	arch = i686
	arch = x86_64
	groups = selinux
	license = GPL2
	depends = libcap
	depends = libselinux>=3.1rc1
	depends = pcre
	source = https://github.com/SELinuxProject/selinux/releases/download/20200518/mcstrans-3.1-rc1.tar.gz
	sha256sums = afd2b751bd2eeccd588755fed0b8781eb79b8a2175c7af9bb0287c0db4bfc7b9

pkgname = mcstrans

