pkgbase = sudo-selinux
	pkgdesc = Give certain users the ability to run some commands as root - SELinux support
	pkgver = 1.9.15.p5
	pkgrel = 2
	url = https://www.sudo.ws/sudo/
	install = sudo.install
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = custom
	depends = glibc
	depends = openssl
	depends = pam-selinux
	depends = libldap
	depends = zlib
	depends = libselinux
	provides = sudo=1.9.15.p5-2
	provides = selinux-sudo=1.9.15.p5-2
	conflicts = sudo
	conflicts = selinux-sudo
	backup = etc/pam.d/sudo
	backup = etc/sudo.conf
	backup = etc/sudo_logsrvd.conf
	backup = etc/sudoers
	source = https://www.sudo.ws/sudo/dist/sudo-1.9.15p5.tar.gz
	source = https://www.sudo.ws/sudo/dist/sudo-1.9.15p5.tar.gz.sig
	source = sudo-selinux-preserve-editor-for-visudo.patch::https://github.com/sudo-project/sudo/commit/1db1453556e1.patch
	source = sudo-selinux-enable-secure_path-by-default.patch::https://github.com/sudo-project/sudo/commit/e0e24456bc3f.patch
	source = sudo-selinux-add-with-secure-path-value-option.patch::https://github.com/sudo-project/sudo/commit/e24737eac90f.patch
	source = sudo_logsrvd.service
	source = sudo.pam
	validpgpkeys = 59D1E9CCBA2B376704FDD35BA9F4C021CEA470FB
	sha256sums = 558d10b9a1991fb3b9fa7fa7b07ec4405b7aefb5b3cb0b0871dbc81e3a88e558
	sha256sums = SKIP
	sha256sums = 321aa5f1b482ffd5728c07477a51ce3de1e48b9db13f4578e662c227c705826c
	sha256sums = baacece8e854bed47276925715ae8f3c2771ad72821006b3a26796fe154e1130
	sha256sums = 78cc8346d79b359d89e8b2e27485eab8b076fab72e0c74832fa994407c3c6147
	sha256sums = bd4bc2f5d85cbe14d7e7acc5008cb4fe62c38de7d42dc6876c87bfaa273c0a6e
	sha256sums = d1738818070684a5d2c9b26224906aad69a4fea77aabd960fc2675aee2df1fa2

pkgname = sudo-selinux
	depends = glibc
	depends = openssl
	depends = pam-selinux
	depends = libldap
	depends = zlib
	depends = libselinux
	depends = libcrypto.so
	depends = libssl.so
