pkgbase = selinux-gui
	pkgdesc = SELinux GUI tools
	pkgver = 2.7rc3
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux/wiki
	arch = any
	groups = selinux
	license = GPL2
	depends = gnome-python
	depends = hicolor-icon-theme
	depends = python2
	depends = pygtk
	depends = selinux-python2
	conflicts = policycoreutils<2.7rc1
	source = https://raw.githubusercontent.com/wiki/SELinuxProject/selinux/files/releases/20170623/selinux-gui-2.7-rc3.tar.gz
	sha256sums = 7c5da37d397019360f8699633ec64f8461e9ac23b9f4858ab9131f628271dcc3

pkgname = selinux-gui

