pkgbase = selinux-gui
	pkgdesc = SELinux GUI tools
	pkgver = 3.3rc2
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux/wiki
	arch = any
	groups = selinux
	license = GPL2
	depends = python-gobject
	depends = hicolor-icon-theme
	depends = selinux-python
	depends = gtk3
	conflicts = policycoreutils<2.7
	source = https://github.com/SELinuxProject/selinux/releases/download/3.3-rc2/selinux-gui-3.3-rc2.tar.gz
	sha256sums = d905757f1a34e4f542f8690812fe5090a859feb2aaa888811297443e00219e1a

pkgname = selinux-gui

