pkgbase = selinux-sandbox
	pkgdesc = sandboxing tool for SELinux
	pkgver = 2.7rc4
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux/wiki
	arch = i686
	arch = x86_64
	groups = selinux
	license = GPL2
	depends = libcap-ng
	depends = selinux-python
	conflicts = policycoreutils<2.7rc1
	source = https://raw.githubusercontent.com/wiki/SELinuxProject/selinux/files/releases/20170630/selinux-sandbox-2.7-rc4.tar.gz
	sha256sums = 01745e43b8d7f68bc91f83f2491ef666d46a53b2ffa1553b1eedb9e8e6f7b7d3

pkgname = selinux-sandbox

