pkgbase = selinux-sandbox
	pkgdesc = sandboxing tool for SELinux
	pkgver = 3.1rc1
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux/wiki
	arch = i686
	arch = x86_64
	groups = selinux
	license = GPL2
	depends = libcap-ng
	depends = selinux-python
	conflicts = policycoreutils<2.7
	source = https://github.com/SELinuxProject/selinux/releases/download/20200518/selinux-sandbox-3.1-rc1.tar.gz
	sha256sums = a59d5ee6bb23ed9a1f7977e142679e528587f61d0d175a2b7ed78eaf0a6cdcf0

pkgname = selinux-sandbox

