pkgbase = semodule-utils
	pkgdesc = SELinux module tools
	pkgver = 3.3rc2
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux/wiki
	arch = i686
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = GPL2
	depends = libsepol>=2.7
	conflicts = policycoreutils<2.7
	source = https://github.com/SELinuxProject/selinux/releases/download/3.3-rc2/semodule-utils-3.3-rc2.tar.gz
	sha256sums = f298ce8b384a691748659b4902485651a7a7bcbef7ad175c0456114cafd38d42

pkgname = semodule-utils
