pkgbase = semodule-utils
	pkgdesc = SELinux module tools
	pkgver = 3.2rc1
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux/wiki
	arch = i686
	arch = x86_64
	groups = selinux
	license = GPL2
	depends = libsepol>=2.7
	conflicts = policycoreutils<2.7
	source = https://github.com/SELinuxProject/selinux/releases/download/3.2-rc1/semodule-utils-3.2-rc1.tar.gz
	sha256sums = 00f3aa31f093bcf75e9305af26106fd9df73f7ed63c92f80150dec614c397b1d

pkgname = semodule-utils

