pkgbase = checkpolicy
	pkgdesc = SELinux policy compiler
	pkgver = 3.3rc2
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux
	arch = i686
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = GPL2
	makedepends = libsepol>=3.3rc1
	provides = selinux-usr-checkpolicy=3.3rc2-1
	conflicts = selinux-usr-checkpolicy
	source = https://github.com/SELinuxProject/selinux/releases/download/3.3-rc2/checkpolicy-3.3-rc2.tar.gz
	sha256sums = 9442bc373973261bf55a96fd08fc1a16bfc23c51cf31653c350b6cecbc1d4a11

pkgname = checkpolicy
