pkgbase = libsemanage
	pkgdesc = SELinux binary policy manipulation library
	pkgver = 2.8rc3
	pkgrel = 1
	url = http://userspace.selinuxproject.org
	install = libsemanage.install
	arch = i686
	arch = x86_64
	groups = selinux
	license = LGPL2.1
	makedepends = flex
	makedepends = python2
	makedepends = python
	makedepends = ruby
	makedepends = swig
	depends = libselinux>=2.8rc1
	depends = audit
	optdepends = python2: python2 bindings
	optdepends = python: python bindings
	optdepends = ruby: ruby bindings
	provides = selinux-usr-libsemanage=2.8rc3-1
	conflicts = selinux-usr-libsemanage
	options = !emptydirs
	source = https://raw.githubusercontent.com/wiki/SELinuxProject/selinux/files/releases/20180510/libsemanage-2.8-rc3.tar.gz
	source = semanage.conf
	sha256sums = eec0b4f456e19af2ffb914395bf7cafe4fd71c966386b546c652968f41d6a5ed
	sha256sums = 5b0e6929428e095b561701ccdfa9c8b0c3d70dad3fc46e667eb46a85b246a4a0

pkgname = libsemanage

