pkgbase = selinux-refpolicy-arch
	pkgdesc = Modular SELinux reference policy including headers and docs with Arch Linux patches
	pkgver = 20250923
	pkgrel = 1
	url = https://github.com/SELinuxProject/refpolicy/wiki
	install = selinux-refpolicy-arch.install
	arch = any
	groups = selinux
	license = GPL2
	makedepends = git
	makedepends = python
	makedepends = checkpolicy>=3.0
	makedepends = semodule-utils
	depends = policycoreutils>=3.0
	source = git+https://github.com/archlinuxhardened/selinux-policy-arch#commit=ecab6fc7bb576c45f93520b6f43b589d3730d5ab
	source = config
	sha256sums = 7d45a7623df6f0ef3536523879b7f4e9c7514a35f24aa8fb54bd67e0bfde7146
	sha256sums = c9f7cce9a06fd0595b3dd47d4fdde9d9c7457120c42c5f08bfdc5e89eb9a61df

pkgname = selinux-refpolicy-arch
