pkgbase = dbus-broker-selinux
	pkgdesc = Linux D-Bus Message Broker with SELinux support
	pkgver = 37
	pkgrel = 2
	url = https://github.com/bus1/dbus-broker/wiki
	arch = x86_64
	groups = selinux
	license = Apache-2.0
	makedepends = meson
	makedepends = python-docutils
	makedepends = systemd
	depends = audit
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libcap-ng
	depends = systemd-libs
	depends = libselinux
	source = https://github.com/bus1/dbus-broker/releases/download/v37/dbus-broker-37.tar.xz
	source = https://github.com/bus1/dbus-broker/releases/download/v37/dbus-broker-37.tar.xz.asc
	source = 0001-units-Enable-statically.patch
	validpgpkeys = BE5FBC8C9C1C9F60A4F0AEAE7A4F3A09EBDEFF26
	sha256sums = f819a8db8795fa08c767612e3823fd594694a0990f2543ecf35d6a1a6bf2ab5b
	sha256sums = SKIP
	sha256sums = 20dcaf03d837d0715f71ccce3d393cba06a4b96f89f4fec3b6e35c1de0592d7d
	b2sums = 151b176882b28190ff23dfdb5c57af18d365a21f7c7fc345df738f4a55388d929331fe4db917bb0dee51f2ebfc872c05f5310dc709cbf5d230944a94d382dd36
	b2sums = SKIP
	b2sums = 02e30f49224835af2d327d6c3eecad5509913ad69b75c6b04d00cb4a8a0c9b8e0c043055d43172a215a4e3729527a2f807115117a9b1d1dc27c5f43259a12e36

pkgname = dbus-broker-selinux
	install = dbus-broker-selinux.install
	depends = audit
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libcap-ng
	depends = systemd-libs
	depends = libselinux
	depends = libaudit.so
	depends = libcap-ng.so
	depends = libexpat.so
	depends = libsystemd.so
	provides = dbus-broker
	conflicts = dbus-broker
