pkgbase = libselinux
	pkgdesc = SELinux library and simple utilities
	pkgver = 3.0rc1
	pkgrel = 1
	url = http://userspace.selinuxproject.org
	arch = i686
	arch = x86_64
	arch = armv6h
	groups = selinux
	license = custom
	makedepends = python
	makedepends = ruby
	makedepends = xz
	makedepends = swig
	depends = libsepol>=3.0rc1
	depends = pcre
	optdepends = python: python bindings
	optdepends = ruby: ruby bindings
	provides = selinux-usr-libselinux=3.0rc1-1
	conflicts = selinux-usr-libselinux
	source = https://github.com/SELinuxProject/selinux/releases/download/20191031/libselinux-3.0-rc1.tar.gz
	source = libselinux.tmpfiles.d
	sha256sums = 973b690c5bc3faa35600689f26cc7a7147b41e57c2c8ddeb3a99978202108681
	sha256sums = afe23890fb2e12e6756e5d81bad3c3da33f38a95d072731c0422fbeb0b1fa1fc

pkgname = libselinux

