pkgbase = libselinux
	pkgdesc = SELinux library and simple utilities and selabel patches
	pkgver = 2.7rc2
	pkgrel = 1
	url = http://userspace.selinuxproject.org
	arch = i686
	arch = x86_64
	arch = armv6h
	groups = selinux
	license = custom
	makedepends = python2
	makedepends = python
	makedepends = ruby
	makedepends = xz
	makedepends = swig
	depends = libsepol>=2.7rc1
	depends = pcre
	optdepends = python2: python2 bindings
	optdepends = python: python bindings
	optdepends = ruby: ruby bindings
	provides = selinux-usr-libselinux=2.7rc2-1
	conflicts = selinux-usr-libselinux
	source = https://raw.githubusercontent.com/wiki/SELinuxProject/selinux/files/releases/20170616/libselinux-2.7-rc2.tar.gz
	source = libselinux.tmpfiles.d
	sha256sums = 48c2b3989d342b7b87fd5e6a773ebfcee6e2918ed49cfd2850888c02215a7a16
	sha256sums = afe23890fb2e12e6756e5d81bad3c3da33f38a95d072731c0422fbeb0b1fa1fc

pkgname = libselinux

