pkgbase = libselinux
	pkgdesc = SELinux library and simple utilities
	pkgver = 3.2rc1
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux
	arch = i686
	arch = x86_64
	arch = armv6h
	groups = selinux
	license = custom
	makedepends = pkgconf
	makedepends = python
	makedepends = ruby
	makedepends = xz
	makedepends = swig
	depends = libsepol>=3.1rc1
	depends = pcre
	optdepends = python: python bindings
	optdepends = ruby: ruby bindings
	provides = selinux-usr-libselinux=3.2rc1-1
	conflicts = selinux-usr-libselinux
	source = https://github.com/SELinuxProject/selinux/releases/download/3.2-rc1/libselinux-3.2-rc1.tar.gz
	source = libselinux.tmpfiles.d
	sha256sums = 0177ca83182d96c819f090ad219713c418d4acfcf0e088840672c7cf3ebe8010
	sha256sums = afe23890fb2e12e6756e5d81bad3c3da33f38a95d072731c0422fbeb0b1fa1fc

pkgname = libselinux

