pkgbase = pam-selinux
	pkgdesc = SELinux aware PAM (Pluggable Authentication Modules) library
	pkgver = 1.6.1
	pkgrel = 2
	url = http://linux-pam.org
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = GPL-2.0-only
	makedepends = flex
	makedepends = w3m
	makedepends = docbook-xml>=4.4
	makedepends = docbook-xsl
	depends = glibc
	depends = libtirpc
	depends = audit
	depends = libselinux
	depends = pambase-selinux
	depends = libaudit.so
	depends = libxcrypt
	depends = libcrypt.so
	depends = libnsl
	provides = libpam.so
	provides = libpamc.so
	provides = libpam_misc.so
	provides = pam=1.6.1-2
	provides = selinux-pam=1.6.1-2
	conflicts = pam
	conflicts = selinux-pam
	options = !emptydirs
	backup = etc/security/access.conf
	backup = etc/security/faillock.conf
	backup = etc/security/group.conf
	backup = etc/security/limits.conf
	backup = etc/security/namespace.conf
	backup = etc/security/namespace.init
	backup = etc/security/pwhistory.conf
	backup = etc/security/pam_env.conf
	backup = etc/security/time.conf
	backup = etc/environment
	source = https://github.com/linux-pam/linux-pam/releases/download/v1.6.1/Linux-PAM-1.6.1.tar.xz
	source = https://github.com/linux-pam/linux-pam/releases/download/v1.6.1/Linux-PAM-1.6.1.tar.xz.asc
	source = https://github.com/linux-pam/linux-pam/releases/download/v1.6.1/Linux-PAM-1.6.1-docs.tar.xz
	source = https://github.com/linux-pam/linux-pam/releases/download/v1.6.1/Linux-PAM-1.6.1-docs.tar.xz.asc
	source = pam.tmpfiles
	validpgpkeys = 8C6BFD92EE0F42EDF91A6A736D1A7F052E5924BB
	validpgpkeys = 296D6F29A020808E8717A8842DB5BD89A340AEB7
	sha256sums = f8923c740159052d719dbfc2a2f81942d68dd34fcaf61c706a02c9b80feeef8e
	sha256sums = SKIP
	sha256sums = fd7b13b9993c94677e78e84d12387b8da104b5ba668eda3f17360abe4277e79c
	sha256sums = SKIP
	sha256sums = 5631f224e90c4f0459361c2a5b250112e3a91ba849754bb6f67d69d683a2e5ac

pkgname = pam-selinux
