pkgbase = policycoreutils
	pkgdesc = SELinux policy core utilities
	pkgver = 3.2rc3
	pkgrel = 1
	url = https://github.com/SELinuxProject/selinux
	arch = i686
	arch = x86_64
	groups = selinux
	license = GPL2
	depends = libsemanage>=3.1rc1
	depends = pam
	optdepends = mcstrans: SELinux MCS translation daemon
	optdepends = restorecond: SELinux daemon that fixes SELinux file contexts
	optdepends = selinux-dbus-config: D-Bus configuration for SELinux
	optdepends = selinux-gui: GUI tools for SELinux
	optdepends = selinux-python: Python tools and libraries for SELinux
	optdepends = selinux-sandbox: sandboxing tool for SELinux
	optdepends = semodule-utils: SELinux module tools
	provides = selinux-usr-policycoreutils=3.2rc3-1
	conflicts = selinux-usr-policycoreutils
	source = https://github.com/SELinuxProject/selinux/releases/download/3.2-rc3/policycoreutils-3.2-rc3.tar.gz
	sha256sums = 2e4cf9d4eac5e5f1e9ff611c8ea210c5b732aaf238a104dbf63da1c8de42d79e

pkgname = policycoreutils

