pkgbase = policycoreutils
	pkgdesc = SELinux policy core utilities
	pkgver = 2.8rc2
	pkgrel = 1
	url = http://userspace.selinuxproject.org
	arch = i686
	arch = x86_64
	groups = selinux
	license = GPL2
	depends = libsemanage>=2.7
	depends = pam
	optdepends = mcstrans: SELinux MCS translation daemon
	optdepends = restorecond: SELinux daemon that fixes SELinux file contexts
	optdepends = selinux-dbus-config: D-Bus configuration for SELinux
	optdepends = selinux-gui: GUI tools for SELinux
	optdepends = selinux-python: Python tools and libraries for SELinux
	optdepends = selinux-sandbox: sandboxing tool for SELinux
	optdepends = semodule-utils: SELinux module tools
	provides = selinux-usr-policycoreutils=2.8rc2-1
	conflicts = selinux-usr-policycoreutils
	source = https://raw.githubusercontent.com/wiki/SELinuxProject/selinux/files/releases/20180426/policycoreutils-2.8-rc2.tar.gz
	sha256sums = 079f5706bf2226b3ba456e0bdb9a7516a92bfc7c0b3b26708e1dfd239ea81a0b

pkgname = policycoreutils

