pkgbase = policycoreutils
	pkgdesc = SELinux policy core utilities
	pkgver = 3.0rc2
	pkgrel = 1
	url = http://userspace.selinuxproject.org
	arch = i686
	arch = x86_64
	groups = selinux
	license = GPL2
	depends = libsemanage>=2.7
	depends = pam
	optdepends = mcstrans: SELinux MCS translation daemon
	optdepends = restorecond: SELinux daemon that fixes SELinux file contexts
	optdepends = selinux-dbus-config: D-Bus configuration for SELinux
	optdepends = selinux-gui: GUI tools for SELinux
	optdepends = selinux-python: Python tools and libraries for SELinux
	optdepends = selinux-sandbox: sandboxing tool for SELinux
	optdepends = semodule-utils: SELinux module tools
	provides = selinux-usr-policycoreutils=3.0rc2-1
	conflicts = selinux-usr-policycoreutils
	source = https://github.com/SELinuxProject/selinux/releases/download/20191122/policycoreutils-3.0-rc2.tar.gz
	sha256sums = 9707f463d998bfd976027f4724968daa8c1bc48814e18252f41164f99ce29013

pkgname = policycoreutils

