pkgbase = libsepol
	pkgdesc = SELinux binary policy manipulation library
	pkgver = 2.7rc2
	pkgrel = 1
	url = http://userspace.selinuxproject.org
	arch = i686
	arch = x86_64
	arch = armv6h
	groups = selinux
	license = LGPL2.1
	makedepends = flex
	depends = glibc
	provides = selinux-usr-libsepol=2.7rc2-1
	conflicts = selinux-usr-libsepol
	options = staticlibs
	source = https://raw.githubusercontent.com/wiki/SELinuxProject/selinux/files/releases/20170616/libsepol-2.7-rc2.tar.gz
	sha256sums = 26e072a971b647196a737013302a8f6ba6afa66dfcebb782e972cbb65bee1ad9

pkgname = libsepol

