pkgbase = libsepol
	pkgdesc = SELinux binary policy manipulation library
	pkgver = 2.8rc1
	pkgrel = 1
	url = http://userspace.selinuxproject.org
	arch = i686
	arch = x86_64
	arch = armv6h
	groups = selinux
	license = LGPL2.1
	makedepends = flex
	depends = glibc
	provides = selinux-usr-libsepol=2.8rc1-1
	conflicts = selinux-usr-libsepol
	options = staticlibs
	source = https://raw.githubusercontent.com/wiki/SELinuxProject/selinux/files/releases/20180419/libsepol-2.8-rc1.tar.gz
	sha256sums = 57e8fad435055938dbc52b1ff4a0f6b943aad4a01cc7604a881805e84632d861

pkgname = libsepol

