pkgbase = setools
	pkgdesc = Policy analysis tools for SELinux
	pkgver = 4.1.0
	pkgrel = 2
	url = https://github.com/TresysTechnology/setools/wiki
	arch = i686
	arch = x86_64
	groups = selinux
	license = GPL
	license = LGPL
	checkdepends = checkpolicy
	checkdepends = python2-enum34
	makedepends = bison
	makedepends = flex
	makedepends = swig
	makedepends = qt5-tools
	makedepends = python-setuptools
	makedepends = python-tox
	makedepends = python2
	makedepends = python2-setuptools
	makedepends = python2-networkx
	makedepends = python2-mock
	makedepends = python2-tox
	depends = libselinux>=2.7rc1
	depends = python
	depends = python-networkx
	optdepends = python-pyqt5: needed for graphical tools
	optdepends = python2: Python2 support
	optdepends = python2-enum34: Python2 support
	optdepends = python2-networkx: Python2 support
	optdepends = qt5-tools: display apol help with Qt Assistant
	provides = selinux-setools=4.1.0-2
	conflicts = selinux-setools
	source = setools-4.1.0.tar.gz::https://github.com/TresysTechnology/setools/archive/4.1.0.tar.gz
	source = 0001-Ftrules-hashtab-164.patch
	sha256sums = cc251572c50298e2705617c8a0ddb5ae7cfe0bde2480bc0c6a4e44341d3df831
	sha256sums = 10e9ddddbe5f37fb22557db33f206d15cf8a5f6e8e6a3060b1062ac8d2f7e78d

pkgname = setools

