pkgbase = setools
	pkgdesc = Policy analysis tools for SELinux
	pkgver = 4.5.0
	pkgrel = 1
	url = https://github.com/SELinuxProject/setools/wiki
	arch = i686
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = GPL
	license = LGPL
	checkdepends = checkpolicy
	checkdepends = python-pytest
	makedepends = cython
	makedepends = python-tox
	depends = libsepol>=3.2
	depends = libselinux>=3.2
	depends = python
	depends = python-networkx>=2.6
	depends = python-setuptools
	optdepends = python-graphviz: for seinfoflow, sedta, apol
	optdepends = python-pyqt6: needed for graphical tools
	optdepends = qt6-tools: display apol help with Qt Assistant
	provides = selinux-setools=4.5.0-1
	conflicts = selinux-setools
	source = https://github.com/SELinuxProject/setools/releases/download/4.5.0/setools-4.5.0.tar.bz2
	sha256sums = 68469ae9bd114b42bba4cb41795577ca1e4f50e3e4234817f13ff1a8bbd9ce77

pkgname = setools
