pkgbase = dbus-selinux
	pkgdesc = Freedesktop.org message bus system with SELinux support
	pkgver = 1.16.2
	pkgrel = 1
	url = https://www.freedesktop.org/wiki/Software/dbus/
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = AFL-2.1 OR GPL-2.0-or-later
	makedepends = docbook-xsl
	makedepends = doxygen
	makedepends = git
	makedepends = glib2
	makedepends = mallard-ducktype
	makedepends = meson
	makedepends = python
	makedepends = qt5-tools
	makedepends = systemd-selinux
	makedepends = xmlto
	makedepends = yelp-tools
	depends = audit
	depends = expat
	depends = glibc
	depends = libcap-ng
	depends = libselinux
	depends = systemd-libs-selinux>=242.84-2
	source = git+https://gitlab.freedesktop.org/dbus/dbus.git?signed#tag=dbus-1.16.2
	source = 0001-Arch-Linux-tweaks.patch
	source = dbus-reload.hook
	validpgpkeys = DA98F25C0871C49A59EAFF2C4DE8FF2A63C7CC90
	b2sums = 669cd4203fbac908db3a20c5b51355d9e84b68c9cc94f8de52e35544a636c6d5d1df8ee2bbdfd6dead53a6bd9865db547aa4af0e913bac697b138c698840d3ce
	b2sums = 3896c994aa7afde605aebb88b7123f33c578ad1ede2dc3e76982dbc021d6994874c5c735d31a66c7b3e9d3cba77ebbba7db05013716bbac14948618b1464e4a8
	b2sums = 05ab81bf72e7cf45ad943f5b84eaecef4f06bed94979c579a3e23134cbabd7ea6f65fa9ac252f8b43ceb4a3295e0d2325f06560a044fe7ddf125fc30dfc2b7e2

pkgname = dbus-selinux
	depends = audit
	depends = expat
	depends = glibc
	depends = libcap-ng
	depends = libselinux
	depends = systemd-libs-selinux>=242.84-2
	depends = libaudit.so
	depends = libcap-ng.so
	depends = libexpat.so
	depends = libsystemd.so
	provides = libdbus
	provides = libdbus-1.so
	provides = libdbus-selinux
	provides = dbus=1.16.2-1
	provides = selinux-dbus=1.16.2-1
	conflicts = libdbus
	conflicts = libdbus-selinux
	conflicts = dbus
	conflicts = selinux-dbus
	replaces = libdbus
	replaces = libdbus-selinux

pkgname = dbus-docs-selinux
	pkgdesc = Freedesktop.org message bus system with SELinux support - Documentation
	depends = 
	conflicts = dbus-docs
